<h2>Create Game</h2>
<form action="/create-game" method="POST" role="form">
  <div class="form-group">
    <label for="deck">Deck</label>
    <select class="form-control" id="deck" name="playerArchetype">
      {{#each archetypes}}
        <option value="{{_id}}"
          {{#if selected}}
            selected 
          {{/if}}
        >{{class}} - {{name}}</option>
      {{/each}}  
    </select>
  </div>
  <div class="form-group">
    <label for="opponent-deck">Opponent Deck</label>
      <select class="form-control" id="opponent-deck" name="opponentArchetype">
        {{#each archetypes}}
        <option value="{{_id}}">{{class}} - {{name}}</option>
        {{/each}}  
      </select>
  </div>
  <button type="submit" value="2" name="result" class="btn btn-success">Record Win</button>
  <button type="submit" value="0" name="result" class="btn btn-danger">Record Loss</button>
  <button type="submit" value="1" name="result" class="btn btn-info">Record Draw</button>
</form>
