<h2>Game Anlysis</h2>
{{#if statsMap}}
  {{#each statsMap}}
    <h3>Vs. {{name}}</h3>
    <table class="table">
      <thead>
        <th>Deck</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>Win Percentage</th>
      </thead>
      <tbody>
        {{#each playerArchetypeStats}}
          <tr>
            <td>{{name}}</td>
            <td>{{games}}</td>
            <td>{{wins}}</td>
            <td>{{losses}}</td>
            <td>{{draws}}</td>
            <td>{{winRate}}</td>
          </tr>
        {{/each}}
    </table>
  {{/each}}  
{{/if}}  
<h3>Filter Sets</h3>
<p>Select an arhcetype to see performance</p>
<form action="/stats" method="GET" role="form">
  <div class="form-group">
    <label for="deck">Deck</label>
    <select class="form-control" id="playerArchetype" name="playerArchetype">
      <option value="">All</option>
      {{#each archetypes}}
        <option>{{class}} - {{name}}</option>
      {{/each}}  
    </select>
  </div>
  <div class="form-group">
    <label for="days">Last X Days:</label>
    <input type="number" name="days" id="days" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Get stats</button>
</form>


